<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemoListner</display-name>
  
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
    
  <listener>
    <listener-class>com.listner.tutorial.SampleListner</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>sessioncreated</display-name>
    <servlet-name>sessioncreated</servlet-name>
    <servlet-class>com.listner.tutorial.ServletCreated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessioncreated</servlet-name>
    <url-pattern>/sessioncreated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessiondestroyed</display-name>
    <servlet-name>sessiondestroyed</servlet-name>
    <servlet-class>com.listner.tutorial.ServletDestroyed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessiondestroyed</servlet-name>
    <url-pattern>/sessiondestroyed</url-pattern>
  </servlet-mapping>
</web-app>